USE [master]
GO
/****** Object:  Database [movie_db]    Script Date: 11/03/2026 19:02:07 ******/
CREATE DATABASE [movie_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'movie_db', FILENAME = N'E:\MSSQL17.MSSQLSERVER\MSSQL\DATA\movie_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'movie_db_log', FILENAME = N'E:\MSSQL17.MSSQLSERVER\MSSQL\DATA\movie_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [movie_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [movie_db]
GO
/****** Object:  Table [dbo].[actor]    Script Date: 11/03/2026 19:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actor](
	[act_id] [int] NOT NULL,
	[act_fname] [varchar](20) NULL,
	[act_lname] [varchar](20) NULL,
	[act_gender] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[act_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[director]    Script Date: 11/03/2026 19:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[director](
	[dir_id] [int] NOT NULL,
	[dir_fname] [varchar](20) NULL,
	[dir_lname] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[dir_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genres]    Script Date: 11/03/2026 19:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genres](
	[gen_id] [int] NOT NULL,
	[gen_title] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[gen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 11/03/2026 19:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie](
	[mov_id] [int] NOT NULL,
	[mov_title] [varchar](50) NULL,
	[mov_year] [int] NULL,
	[mov_time] [int] NULL,
	[mov_lang] [varchar](50) NULL,
	[mov_dt_rel] [date] NULL,
	[mov_rel_country] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[mov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_cast]    Script Date: 11/03/2026 19:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_cast](
	[act_id] [int] NOT NULL,
	[mov_id] [int] NOT NULL,
	[role] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[act_id] ASC,
	[mov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_direction]    Script Date: 11/03/2026 19:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_direction](
	[dir_id] [int] NOT NULL,
	[mov_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dir_id] ASC,
	[mov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_genres]    Script Date: 11/03/2026 19:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_genres](
	[mov_id] [int] NOT NULL,
	[gen_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mov_id] ASC,
	[gen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rating]    Script Date: 11/03/2026 19:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[mov_id] [int] NOT NULL,
	[rev_id] [int] NOT NULL,
	[rev_stars] [int] NULL,
	[num_o_ratings] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mov_id] ASC,
	[rev_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviewer]    Script Date: 11/03/2026 19:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviewer](
	[rev_id] [int] NOT NULL,
	[rev_name] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[rev_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[movie_cast]  WITH CHECK ADD FOREIGN KEY([act_id])
REFERENCES [dbo].[actor] ([act_id])
GO
ALTER TABLE [dbo].[movie_cast]  WITH CHECK ADD FOREIGN KEY([mov_id])
REFERENCES [dbo].[movie] ([mov_id])
GO
ALTER TABLE [dbo].[movie_direction]  WITH CHECK ADD FOREIGN KEY([dir_id])
REFERENCES [dbo].[director] ([dir_id])
GO
ALTER TABLE [dbo].[movie_direction]  WITH CHECK ADD FOREIGN KEY([mov_id])
REFERENCES [dbo].[movie] ([mov_id])
GO
ALTER TABLE [dbo].[movie_genres]  WITH CHECK ADD FOREIGN KEY([gen_id])
REFERENCES [dbo].[genres] ([gen_id])
GO
ALTER TABLE [dbo].[movie_genres]  WITH CHECK ADD FOREIGN KEY([mov_id])
REFERENCES [dbo].[movie] ([mov_id])
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD FOREIGN KEY([mov_id])
REFERENCES [dbo].[movie] ([mov_id])
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD FOREIGN KEY([rev_id])
REFERENCES [dbo].[reviewer] ([rev_id])
GO
USE [master]
GO
